<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-DevInfo" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>DevInfo</name>
	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>
	
	<assets src="www/DevInfo.js" target="js/DevInfo.js"/>
	
	<js-module name="DevInfo" src="www/DevInfo.js">
		<clobbers target="DevInfo" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DevInfo">
				<param name="android-package" value="cordova_plugin_DevInfo.DevInfo" />
			</feature>
		</config-file>
		
		<source-file src="src/android/DevInfo.java" target-dir="src/cordova-plugin-DevInfo/DevInfo" />
		<source-file src="src/android/NetStuff.java" target-dir="src/cordova-plugin-DevInfo/DevInfo" />
	</platform>

</plugin>
